.calculadora__display__informacao--anterior {
    color: #01284079;
    font-family: Signika, Roboto, sans-serif;
    font-size: 25px;
    margin-right: 0.6rem;
    margin-top: 1rem;
    text-align: center;
}